<header class="header" id="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__dot"></span>
          Nebrixa Key
      </a>

      <nav class="nav" id="nav">
          <ul class="nav__list">
              <li><a href="./#hero" class="nav__link">Главная</a></li>
              <li><a href="./#about" class="nav__link">Платформа</a></li>
              <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
              <li><a href="./#innovations" class="nav__link">Инновации</a></li>
              <li><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать сейчас</a>
          <button class="burger" id="burger" aria-label="Меню">
              <span></span>
          </button>
      </div>
  </div>
</header>